PORT=8787
DATASET_VERSION=2026-04-24
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

# mariadb | json
DATABASE_DRIVER=mariadb

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=api_dev_quick_cmd
DB_USER=root
DB_PASSWORD=
DB_CONNECTION_LIMIT=10
DB_CONNECT_TIMEOUT_MS=10000
